{% extends "base.html" %}
{%load static%}
{% block scripts %}
<script src="{%static 'js/chackout.js'%}"></script>
{%endblock scripts%}
{% block styles %}
<style>
    .cart {
        box-shadow: 5px 10px 5px #8babc8;
        border-radius: 5px;
    }
</style>
{%endblock styles%}

{% block content %}

{% if bill_profile%}
<div class="container cart bg-light px-4 py-4 mt-2">
    <div class="row">
        <h1>Chackout ({{order.order_id }})</h1>
    {%if not order.shpping_address or not order.billing_address %}
    <div class="col col-12 col-md-12">
        <div class="row mx-4 my-2">
            {% if not order.shipping_address%}
                {%include 'billing/snippets/shipping_adress.html' with type='shipping' qs=adress_qs add=order.shpping_address next_=request.path%}
            {% elif not order.billing_address%}
                {%include 'billing/snippets/shipping_adress.html' with type='billing' qs=adress_qs add=order.billing_address next_=request.path%}
            {%else%}
        {%include 'billing/snippets/bill_data.html' with addS=order.shipping_address addB=order.billing_address info=bill_profile %}
        {%include 'carts/snippets/cart_table.html' with cart=order.cart removeable=False%}
        {%include 'carts/snippets/chackout_tabel.html' with order=order%}



            </div>
            {% endif %}
        </div>
        {%endif%}
    </div>
</div>
{%else%}
<div class="row cart bg-light px-2 mt-2">
    <p class="col-4 align-content-center">How would you like to go?</p>
    <button class="btn col-4 px-2 my-2 btn-outline-primary" data-bs-toggle="modal" data-bs-target="#loginModel"
        id="modelToggel">Login</button>
    <button class="btn col-4 px-2 my-2 btn-outline-primary" data-bs-toggle="modal" data-bs-target="#GeustModel"
        id="modelToggel">Guest</button>
</div>
<div class="modal fade" id="loginModel" tabindex="-1" aria-labelledby="loginModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {%include 'login/snippets/loginForm.html' with embed=True next_=request.path%}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="GeustModel" tabindex="-1" aria-labelledby="guestModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {%include 'login/snippets/GuestForm.html' with embed=True next_=request.path%}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
{%endif%}



{% endblock content %}}