{% extends "base.html" %}
{%load static%}
{% block scripts %}
<script src="{%static 'js/chackout.js'%}"></script>
{%endblock scripts%}
{% block styles %}
<style>
    .cart {
        box-shadow: 5px 10px 5px #8babc8;
        border-radius: 5px;
    }
</style>
{%endblock styles%}
{% block content %}
<div class="cart container bg-light px-2 mt-2">
    <h1>Chackout</h1>
    {%include 'carts/snippets/cart_table.html' with cart=order.cart removeable=False%}
    {%include 'carts/snippets/chackout_tabel.html' with order=order%}
</div>



{% endblock content %}}