{% extends "base.html" %}

{%load static%}
{% block scripts %}
<script src="{%static 'js/prudocts.js'%}"></script>
{%endblock scripts%}
{% block styles %}
{%endblock styles%}
{% block content %}

{%url 'products:products' as products_url%}
<div class="row">
    {%if request.GET.q %}
    <div class="col-12 col-lg-10 col-sm-8 my-2 mx-auto ">
        Results for <b>{{request.GET.q}}</b>
    </div>
    {%else%}
    <div class="col-12 col-lg-8 col-sm-8 my-4 mx-auto ">
        {% include 'search/snippets/form.html' %}
    </div>
    {%endif%}
    <hr />
</div>
<div class="row">
    {%include 'products/snippets/pruduct_list.html'%}
</div>
</div>
{% endblock content %}}