<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'main'%}">{%if brand%}{{brand}}}{%else%}eCommExemple{%endif%}</a>
        {{products_url}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {%if nbar == 'home'%}active{%endif%}" href="{%url 'main'%}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if nbar == 'products'%}active{%endif%}"
                        href="{%url 'products:products'%}">Products</a>
                </li>
                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                -->
            </ul>
            {% include 'search/snippets/form.html' %}
            {% if user.is_authenticated %}
            <div class="my-1 ms-2 ms-lg-2 ms-sm-0">
                <h5 class="my-1">
                    <span id="user_badge" class="hovers py-2 px-auto badge  bg-primary" style="color: white;">
                        Hello {{user.username}}
                    </span>
                </h5>
                <a role="button" id="logout" href="{%url 'login:logout'%}"
                    class="hovers btn btn-sm btn-outline-danger my-2 my-sm-0">Logout</a>
            </div>
            {% else %}
            <a role="button" href="{%url 'login:login'%}" class="btn btn-outline-success my-auto ms-2">Login</a>
            {% endif %}
        </div>
    </div>
</nav>